.topic__info {
  margin: 2em 0;
}

.topic__info .topic__action .badge {
  margin-left: 0.5rem;
}

.header__title {
  color: rgba(0, 0, 0, 0.5);
}

.topic__conclusions .list__item--conclusion {
  margin: 0 0 3rem 0;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.conclusion__title {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.5rem;
}
