.form {
  margin: 0 auto;

  width: 30rem;
  max-width: 100%;
}

.form__field {
  margin: 1rem 0;
}

.form__field__label {
  display: inline-block;
  margin: 0.5rem;
}

.form__control {
  padding: 0.5rem;
  border: 1px solid #f0f0f0;

  width: 100%;
}

.form__field.form__field--action {
  margin-top: 1.5rem;
}
