.topic__info {
  margin: 0 0 1rem 0;
}

.topic__info .topic__action .badge {
  margin-left: 0.5rem;
}

.header__title {
  color: rgba(0, 0, 0, 0.5);
}

.topic__conclusions .list__item--conclusion {
  padding: 2rem 0;
}

.conclusion__title {
  margin: 0.5rem 0;
}
