.app__header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  background-color: white;
}

.app__header__content {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 48rem;
  width: 100%;
}

.app__header p,
.app__header h4 {
  margin: 1rem 0;
  font-size: 1rem;
}

.app__header__title {
  display: inline-block;
  margin-left: 1rem;

  vertical-align: middle;

  font-weight: bold;
  font-style: oblique;
}
