.proof code {
  display: block;
  padding: 2rem;
  color: #333333;

  text-indent: 0;

  overflow: auto;
  background: rgba(0, 0, 0, 0.03);
}

.proof p {
  text-indent: 2rem;
}

.proof ol {
  padding: 0;
  list-style-position: inside;
}

.proof ol li {
  text-indent: 2rem;
}

.proof .badge {
  color: #999;
}
